<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Attendance Manager</title>
    <style> table {
	border: 1px solid;
	}
	
	tr, td, th {
	border: 1px solid;
	padding: .5em;
	}
	</style>
	<link rel="stylesheet" type="text/css" href="css/custom.css"/>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>	
</head>

<body>

<!-- Start of first page: #one -->
<div data-role="page" id="one">
	<div role="main" class="ui-content">
	<div data-role="header">
		<h1>Attendance Manager</h1>        		
	</div><!-- /header -->
	
	<h1>Attendance Manager</h1>
	    <h2>Login</h2>
	    Username <input type="text" name="username" id="username" value="">
        Password <input type="password" name="pass" id="pass" value="">
        <button class="ui-btn" id="loginButton">Submit</button>
	</div><!-- /content -->
</div><!-- /page one -->

<div data-role="page" id="dashboard">
	<div role="main" class="ui-content">
	<div data-role="header">
		<h1>Dashboard</h1>        		
	</div><!-- /header -->
	<h5 id="date"></h5>

    <fieldset class="ui-grid-a">
	<div class="ui-block-a"><button type="button" id="allClock" data-theme="a">All Clocking Data</button></div>
	<div class="ui-block-b"><button type="button" id="today" data-theme="a">Today's Clocking Data</button></div>	   
    </fieldset>
	
	<fieldset class="ui-grid-a">
	<div class="ui-block-a"><button type="button" id="onsite" data-theme="a">Onsite Report</button></div>
	<div class="ui-block-b"><button type="button" id="otherdate" data-theme="a">View Data for Specific Date</button></div>	   
    </fieldset>
	
	</div><!-- /content -->
</div><!-- /page one -->

<div data-role="page" id="viewAll">
	<div role="main" class="ui-content">
	<div data-role="header">
		<h1>View</h1>        		
	</div><!-- /header -->
	
	<div id="viewTable">
	
	</div>
	
	</div><!-- /content -->
</div><!-- /page one -->

<div data-role="page" id="datePick">
	<div role="main" class="ui-content">
	<div data-role="header">
		<h1>Select Date</h1>        		
	</div><!-- /header -->
	<form>
        <label for="date-1">Select Date:</label>
        <input type="date" data-clear-btn="false" name="date-1" id="date-1" value=""> 
		<div class="ui-block-a"><button type="button" id="viewDate" data-theme="a">View All Data</button></div>
		<div class="ui-block-b"><button type="button" id="viewLate" data-theme="a">View Late Arrivals</button></div>
		<div class="ui-block-c"><button type="button" id="viewEarly" data-theme="a">View Early Leavers</button></div>
    </form>
	<br><br>
	<div id="viewSpecified">
	
	</div>
	
	</div><!-- /content -->
</div><!-- /page one -->
<script>
//login function
$( "#loginButton" ).click(function() {
    var uname = $( "#username" ).val();    
      
    var pw = $( "#pass" ).val();      
      
    $.post( "/functions", { type: "login", username:uname, password:pw})
    .done(function( data ) {        
        alert(data);
        window.location="/index#dashboard";
        
    });  
});

//view all clocking data
$( "#allClock" ).click(function() {      
    $.post( "/functions", { type: "allClock"})
    .done(function( data ) {      
		window.location="/index#viewAll";
		$( "#viewTable" ).html(data);	
    });  
});

//view today's clocking data
$( "#today" ).click(function() {      
    $.post( "/functions", { type: "today"})
    .done(function( data ) {      
		window.location="/index#viewAll";
		console.log(data);
		$( "#viewTable" ).html(data);	
    });  
});

$( "#onsite" ).click(function() {      
    $.post( "/functions", { type: "onsite"})
    .done(function( data ) {      
		window.location="/index#viewAll";
		console.log(data);
		$( "#viewTable" ).html(data);	
    });  
});

$( "#otherdate" ).click(function() {       
	window.location="/index#datePick";	    
});	

$( "#viewDate" ).click(function() {      
    var d = $( "#date-1" ).val();
     $.post( "/functions", { type: "selectDate", date: d})   
		.done(function( data ) {
		//window.location="/index#viewAll";
		$( "#viewSpecified" ).html(data);	
	});	
});

$( "#viewLate" ).click(function() {      
    var d = $( "#date-1" ).val();
     $.post( "/functions", { type: "selectLate", date: d})   
		.done(function( data ) {		
		$( "#viewSpecified" ).html(data);	
	});	
});

$( "#viewEarly" ).click(function() {      
    var d = $( "#date-1" ).val();
     $.post( "/functions", { type: "selectEarly", date: d})   
		.done(function( data ) {		
		$( "#viewSpecified" ).html(data);	
	});	
});
	
var date = Date();
document.getElementById("date").innerHTML = date;


</script>
</body>
</html>