<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Attendance Manager</title>
    
	<link rel="stylesheet" type="text/css" href="css/custom.css"/>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>	
</head>

<body>


<div data-role="page" id="one">
	<div role="main" class="ui-content">
	<h1><img src="images/timekeeping1.jpg"> <br>Dashboard</h1> 
	<h5 id="date"></h5>

    <fieldset class="ui-grid-a">
	<div class="ui-block-a"><button type="button" id="allClock" data-theme="a">All Clocking Data</button></div>
	<div class="ui-block-b"><button type="button" id="today" data-theme="a">Today's Clocking Data</button></div>	   
    </fieldset>
	
	<fieldset class="ui-grid-a">
	<div class="ui-block-a"><button type="button" id="onsite" data-theme="a">Onsite Report</button></div>
	<div class="ui-block-b"><button type="button" id="otherdate" data-theme="a">View Data for Specific Date</button></div>	   
    </fieldset>
	
	<fieldset class="ui-grid-a">
	<div class="ui-block-a"><button type="button" id="create" data-theme="a">Add New Employee</button></div>
	<div class="ui-block-b"><button type="button" id="update" data-theme="a">Update Records</button></div>	   
    </fieldset>
	
	</div>
</div>

<div data-role="page" id="viewAll">
	<div role="main" class="ui-content">
		
	<div id="viewTable">
	
	</div>
	
	</div>
</div>

<div data-role="page" id="datePick">
	<div role="main" class="ui-content">
	<h2>Date Viewer</h2>  
	
	<form>
        <label for="date-1">Select Date:</label>
        <input type="date" data-clear-btn="false" name="date-1" id="date-1" value=""> 
		<div class="ui-block-a"><button type="button" id="viewDate" data-theme="a">View All Data</button></div>
		<div class="ui-block-b"><button type="button" id="viewLate" data-theme="a">View Late Arrivals</button></div>
		<div class="ui-block-c"><button type="button" id="viewEarly" data-theme="a">View Early Leavers</button></div>
    </form>
	<br><br>
	<div id="viewSpecified">
	
	</div>
	
	</div>
</div>

<div data-role="page" id="addNew">
	<div role="main" class="ui-content">
	<h2>Add New Employee</h2>  
	
	    First Name: <input type="text" name="fname" id="fname" value="">
        Last Name: <input type="text" name="lname" id="lname" value="">
	      <form>
        <fieldset data-role="controlgroup" data-type="horizontal"> <!-- control group to select department -->
        <legend>Department:</legend>
        <input type="radio" name="dept" id="dept1" value="IT" checked="checked">
        <label for="dept1">IT</label>
        <input type="radio" name="dept" id="dept2" value="Logistics">
        <label for="dept2">Logistics</label>
        <input type="radio" name="dept" id="dept3" value="Finance">
        <label for="dept3">Finance</label>
		<input type="radio" name="dept" id="dept4" value="Automation">
        <label for="dept4">Automation</label>
		<input type="radio" name="dept" id="dept5" value="Supply Management">
        <label for="dept5">Supply Management</label>
		<input type="radio" name="dept" id="dept6" value="Order Management">
        <label for="dept6">Order Management</label>
		<input type="radio" name="dept" id="dept7" value="Engineering">
        <label for="dept7">Engineering</label>
		<input type="radio" name="dept" id="dept8" value="Quality">
        <label for="dept8">Quality</label>
		<input type="radio" name="dept" id="dept9" value="Purchasing">
        <label for="dept9">Purchasing</label>
		<input type="radio" name="dept" id="dept10" value="HR">
        <label for="dept10">HR</label>
   		</fieldset>
		</form>
        <button class="ui-btn" id="submitEmp">Submit</button>
	
	</div><!-- /content -->
</div><!-- /page one -->

<div data-role="page" id="updateRecords">
	<div role="main" class="ui-content">
	<h2>Update Time Records:</h2>  
	
	<form>        
		<button type="button" id="showRecords" data-theme="a">View Flagged Records</button>
		<button type="button" id="showUnknown" data-theme="a">Rectify Unknown Records</button>		
    </form>
	<br><br>
	<div id="viewAnomolies">
	
	</div>
	
	    
	
	</div><!-- /content -->
</div><!-- /page one -->
<script>


//view all clocking data
$( "#allClock" ).click(function() {      
    $.post( "/functions", { type: "allClock"})
    .done(function( data ) {      
		window.location="/dashboard#viewAll";
		$( "#viewTable" ).html(data);	
    });  
});

//view today's clocking data
$( "#today" ).click(function() {      
    $.post( "/functions", { type: "today"})
    .done(function( data ) {      
		window.location="/dashboard#viewAll";		
		$( "#viewTable" ).html(data);	
    });  
});

//view onsite report
$( "#onsite" ).click(function() {      
    $.post( "/functions", { type: "onsite"})
    .done(function( data ) {      
		window.location="/dashboard#viewAll";		
		$( "#viewTable" ).html(data);	
    });  
});

//if the otherdate button is clicked
$( "#otherdate" ).click(function() {       
	window.location="/dashboard#datePick";	    
});	

//view report based on selected date
$( "#viewDate" ).click(function() {      
    var d = $( "#date-1" ).val(); //creates variable based on selected date
     $.post( "/functions", { type: "selectDate", date: d})   
		.done(function( data ) {		
		$( "#viewSpecified" ).html(data);	
	});	
});

//function to view late arrivals
$( "#viewLate" ).click(function() {      
    var d = $( "#date-1" ).val();
     $.post( "/functions", { type: "selectLate", date: d})   
		.done(function( data ) {		
		$( "#viewSpecified" ).html(data);	
	});	
});

//function to view early leavings
$( "#viewEarly" ).click(function() {      
    var d = $( "#date-1" ).val();
     $.post( "/functions", { type: "selectEarly", date: d})   
		.done(function( data ) {		
		$( "#viewSpecified" ).html(data);	
	});	
});

//navigate to create employee form
$( "#create" ).click(function() {       
	window.location="/dashboard#addNew";	    
});	

//function to create employees
$( "#submitEmp" ).click(function() { 
    var fn = $( "#fname" ).val(); 
      
    var ln = $( "#lname" ).val();
	
    var dept = $( "input[name=dept]:checked" ).val(); //grabs value of checked radio button
      
	$.post( "/functions", { type: "create", fname:fn, lname:ln, dept:dept})
    .done(function( data ) {
        alert(data);	
		location.reload(); //refreshes the page
    });
});

//navigate to page to view reports
$( "#update" ).click(function() {       
	window.location="/dashboard#updateRecords";	    
});	

//function to show poor punctual records
$( "#showRecords" ).click(function() {   
    $.post( "/functions", { type: "update"})
    .done(function( data ) {	
    $( "#viewAnomolies" ).html(data);	
	});
});

//function to show unknown records
$( "#showUnknown" ).click(function() {   
    $.post( "/functions", { type: "updateUnknown"})
    .done(function( data ) {	
    $( "#viewAnomolies" ).html(data);	
	});
});

//displays date on manager dashboard	
var date = Date();
document.getElementById("date").innerHTML = date;


</script>
</body>
</html>